.about-wrapper{
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-top: 10%;
}

.about-bg{
  background-image: image("./about-img.jpg");
  width: 100%;
  height: auto;
}
